node_modules
.env

.firebase

firebaseCredentials.json
firestore.indexes.json

firebase-debug.log
firestore-debug.log
pubsub-debug.log
ui-debug.log

firestore.rules
storage.rules

design.md
reminders.md